*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

.wrapper {
  width: 65%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 10em;
}
body {
  margin: 0;
  padding: 0;
  background: #1f2937;
  font-family: poppins, sans-serif;
  color: white;
}

.logo {
  font-size: 2rem;
  font-family: poppins, sans-serif;
  color: rgb(42, 61, 105);
  margin-left: 3rem;
}
nav {
  background-color: #10b981;
  margin-top: -1.6em;
}

h2 {
  color: azure;
}

ul {
  list-style: none;
}

.password-field {
  width: 90%;
  height: 2.5rem;
  padding: 0 0.75rem;
  border-radius: 5px;
  background: #1f2937;
  margin: auto;
  margin-top: 1rem;
  color: #10b981;
  display: grid;
  place-items: center;
}

.password-field:hover {
  cursor: pointer;
}

.space {
  height: 3px;
  width: 90%;
  margin: auto;
  margin-top: 1em;
  background-color: #4f5d6f;
}

.container {
  padding: 1rem 2rem;
  background: #273549;
  width: fit-content;

  border-radius: 10px;
}

.password-length {
  width: 5rem;
  border: 0;
  padding: 0.5rem;
  margin: auto;
  border-radius: 4px;
  background-color: #9ca3af;
}

.password-length:focus {
  border-bottom: 2px solid #10b981;
}

.password-length::-webkit-input-placeholder {
  color: rgb(77, 73, 73);
  font-family: poppins, sans-serif;
}
.generate-button {
  padding: 0.75em 1.5em;
  font-size: 16px;
  color: white;
  background: #10b981;
  font-family: poppins, sans-serif;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.generate-button:hover {
  background: #34d399;
}

.green-text {
  color: #10b981;
}

.blue-text {
  color: rgb(216, 216, 231);
}

.entries {
  display: grid;
  place-items: center;
}

.password-length:focus {
  border: 0;
  outline: 0;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #676d74;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.copyrights {
  font-size: 12px;
}

.social-media-links {
  display: flex;
  gap: 1.5rem;
}

a > img {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 450px) {
  .generate-button {
    font-size: 12px;
  }
}
