*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #18191a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

.logo {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(119, 209, 28);
  margin-left: 2rem;
}

h2 {
  color: azure;
}

ul {
  list-style: none;
}

.password-field {
  width: fit-content;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: #2f3134;
  margin: auto;
  margin-top: 1rem;
}

.container {
  padding: 1rem;
  background-color: #4c4e50;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}

.password-length {
  width: 5rem;
  border: 0;
  border-radius: 4px;
  padding: 0.5rem;
  margin: auto;
}

.password-length:focus {
  border: 0;
  outline: 0;
}
